* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "cpx font";
    src: url("./assets/font/OJN8fzrE8IScwLTFptsP9.woff2") format("woff2"),
         url("./assets/font/OJN8fzrE8IScwLTFptsP9.woff") format("woff");
  }

html, body {
    width: 100vw;
    height: 100vh;
}

#app {
    width: 100vw;
    height: 100vh;
}

:root {
    --blue-text:  #409eff;
    --black-text: #303133;
    --blue-bg: rgb(64 158 255 / 10%);
    --border-color: #CDD0D6;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}